<div class="container mx-auto py-8">
    <h2 class="text-3xl font-bold mb-4">أحدث المقالات</h2>
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <li>
            <a href="/blog/updated_fire_system" class="block p-4 border border-gray-300 rounded shadow">
                <h3 class="text-lg font-bold">الأنظمة المبتكرة في كشف الحرائق</h3>
                <p class="text-sm">تتنوع أنظمة الإنذار المبكر لكشف الحرائق من أنظمة الكشف المبكر بالصوت والضوء، إلى أنظمة الكشف المبكر بالحرارة، وأنظمة الكشف المبكر بالدخان، وأنظمة الكشف المبكر بالغازات السامة.</p>
            </a>
        </li>
        <li>
            <a href="/blog/نظام-مكافحة-الحريق-المركزي-في-المنازل" class="block p-4 border border-gray-300 rounded shadow">
                <h3 class="text-lg font-bold">نظام مكافحة الحريق المركزي في المنازل</h3>
                <p class="text-sm">نظام مكافحة الحريق المركزي في المنازل هو نظام مكافحة حريق يغطي toàn المنزل، ويستخدم في حالات الطوارئ لمنع انتشار الحرائق.</p>
            </a>
        </li>
        <li>
            <a href="/blog/أهم-ميزات-نظام-مكافحة-الحريق-المركزي" class="block p-4 border border-gray-300 rounded shadow">
                <h3 class="text-lg font-bold">أهم ميزات نظام مكافحة الحريق المركزي</h3>
                <p class="text-sm">يتميز نظام مكافحة الحريق المركزي بعدة ميزات، منها كونه نظاماً مركباً يغطي tüm المنزل، ويستخدم في حالات الطوارئ لمنع انتشار الحرائق.</p>
            </a>
        </li>
    </ul>
</div>
